#wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

#wrapper-login {
  display: grid;
  height: 200vh;
  grid-template-columns: 100%;
  grid-template-rows: 6% 86% 8%;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

@font-face {
  font-family: Morden;
  src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: able;
  src: url(abel-regular.ttf);
}

#wrapper header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  grid-area: hd;
  color: #e7f1f0;
}

#wrapper-login header {
  display: flex;
  justify-content: center;
}

header p {
  order: 2;
  font-family: able;
  margin-right: 30px;
  font-size: 18px;
}

main {
  grid-area: mn;
  background-color: rgb(39, 39, 39);
}

footer {
  grid-area: ft;
}

#index {
  margin: 0px;
  background-image: url("bubble.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#login {
  background-color: black;
}

ul a {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

#login-link {
  order: 2;
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
  padding-top: 20px;
}

#logo {
  order: 1;
  width: 80%; /* Adjust the width as needed */
  max-width: 200px; /* Set a maximum width if necessary */
  height: auto; /* Allow the height to adjust proportionally */
  padding: 10px; /* Adjust padding as needed */
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 20vw;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: -200vw;
  transition: left 0.3s;
  box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
  z-index: 10;
  animation: none;
  overflow-x: hidden;
}

.fade-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}

.show {
  left: 0;
}

.fade-layer.visible {
  display: block;
}

.menu-button {
  cursor: pointer;
  display: inline;
  color: #ffffff;
}

.menu-button i.material-icons {
  font-size: 2.5rem;
}

#close-menu {
  width: 15%;
  height: 15%;
  object-fit: scale-down;
  order: 1;
  height: 50px;
  background-color: white;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 35px;
}

#small-logo {
  margin-top: 85vh;
  margin-right: 70px;
  width: 20%;
  height: 20%;
  object-fit: contain;
}

@keyframes down {
  from {
    top: 0vh;
  }
  to {
    down: 100vh;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }

  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 830px) and (min-width: 600px) {
  .menu {
    width: 40%;
  }
}

@media screen and (min-width: 600px) {
  .menu #close-menu {
    display: none;
  }

  #small-logo {
    display: none;
  }
}
