#wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

#wrapper-login {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

#wrapper-galaries {
  display: grid;
  height: 280vh;
  grid-template-columns: 100%;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

#wrapper-dana {
  display: grid;
  height: 250vh;
  grid-template-columns: 100%;
  grid-template-rows: 5% 90% 5%;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

@font-face {
  font-family: Morden;
  src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: able;
  src: url(abel-regular.ttf);
}

body {
  margin: 0px;
}

#dana {
  background-color: #333;
}

header {
  display: flex;
  align-items: center;
}

#wrapper header {
  justify-content: space-between;
  grid-area: hd;
  color: #e7f1f0;
}

#wrapper-login header {
  justify-content: center;
}

#wrapper-galaries header {
  justify-content: space-between;
}

header p {
  order: 2;
  font-family: able;
  margin-right: 30px;
  font-size: 18px;
}

main {
  grid-area: mn;
  display: flex;
  justify-content: center;
}

#login-main {
  background-color: rgb(39, 39, 39);
}

#logo-link {
  order: 1;
}

.img-right {
  object-fit: contain;
  width: 80%;
  transition: 0.5s;
  margin-bottom: 15px;
}

a {
  text-align: center;
  text-decoration: none;
}

.img-right:hover {
  width: 90%;
}

.paintings {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-direction: column;
  width: 80%; /* Add a fixed width */
  margin: 0 auto; /* Center the container horizontally */
  color: #ffffff;
}

.paintings h2 {
  font-family: Morden;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paintings h3 {
  margin-top: 0;
}

.paintings h4 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
}

.paintings a {
  color: #ffffff;
}

.paintings a:hover {
  text-decoration: underline;
}

#galaries p {
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 20px;
}

#main-galaries {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  flex: 50%;
  justify-content: space-between;
}

footer {
  grid-area: ft;
}

#index {
  background-image: url("bubble.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#myVideo {
  width: 100%;
  height: 100%;
  align-self: center;
}

#galaries {
  background-color: #333;
}

#login {
  background-color: black;
}

.login-forum {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  margin: 40px;
}
.login-forum h1 {
  font-size: 36px;
  text-align: center;
}
.login-forum .input-box {
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0px 0px 0px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.login-forum .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.login-forum .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.login-forum .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}

ul a {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

#login-link {
  order: 2;
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
  padding-top: 20px;
}

#logo {
  order: 1;
  width: 80%; /* Adjust the width as needed */
  max-width: 200px; /* Set a maximum width if necessary */
  height: auto; /* Allow the height to adjust proportionally */
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 20vw;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: -200vw;
  transition: left 0.3s;
  box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
  z-index: 10;
  animation: none;
  overflow-x: hidden;
}

.fade-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}

.show {
  left: 0;
}

.fade-layer.visible {
  display: block;
}

.menu-button {
  cursor: pointer;
  display: inline;
  color: #ffffff;
}

.menu-button i.material-icons {
  font-size: 2.5rem;
}

#close-menu {
  width: 15%;
  height: 15%;
  object-fit: scale-down;
  order: 1;
  height: 50px;
  background-color: white;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 35px;
  color: black;
}

#small-logo {
  margin-top: 75vh;
  margin-right: 78px;
  width: 20%;
  height: 20%;
  object-fit: contain;
}

@keyframes down {
  from {
    top: 0vh;
  }
  to {
    down: 100vh;
  }
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }

  .menu {
    width: 100%;
  }

  .login-forum {
    margin: 10px;
  }

  #myVideo {
    width: 80%;
    height: 70%;
    object-fit: fill;
  }

  #description {
    display: none;
  }
}

@media screen and (max-width: 830px) and (min-width: 600px) {
  .menu {
    width: 40%;
  }

  #myVideo {
    width: 80%;
  }
}

@media screen and (min-width: 600px) {
  .menu #close-menu {
    display: none;
  }

  #small-logo {
    display: none;
  }

  .paintings {
    align-items: flex-start;
  }

  .paintings a {
    text-align: start;
  }

  #wrapper-galaries {
    height: 280vh;
  }

  .read-more {
    display: none;
  }
}
