#wrapper {
  display: grid;
  height: 100vh;
  overflow: hidden;
  grid-template-columns: 100%;
  grid-template-rows: 15% 75% 10%;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

#wrapper-login {
  display: grid;
  height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: 10% 80% 10%;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

#wrapper-galaries {
  display: grid;
  height: 225vh;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
}

#wrapper-dana {
  display: grid;
  height: 250vh;
  grid-template-columns: 100%;
  grid-template-rows: 5% 20% auto 5%;
  grid-template-areas:
    "hd"
    "mn"
    "at"
    "ft";
}

@font-face {
  font-family: Morden;
  src: url(../fonts/PlayfairDisplay-VariableFont_wght.ttf);
}

@font-face {
  font-family: able;
  src: url(../fonts/abel-regular.ttf);
}

@font-face {
  font-family: Morden-bold;
  src: url(../fonts/static/PlayfairDisplay-Bold.ttf);
}

body {
  margin: 0px;
}

article {
  grid-area: at;
  font-size: 20px;
  font-family: able;
  display: flex;
  flex-direction: column;
}

article p {
  margin-left: 25px;
  margin-right: 15px;
  margin-bottom: 20px;
}

.read-more-button {
  border: none;
  background: none;
  font-family: able;
  font-size: 15px;
}

.read-more-button:hover {
  text-decoration: underline;
}

#more {
  display: none;
}

#more.show {
  display: flex;
  flex-direction: column;
}

#more button {
  border: none;
  background: none;
  font-family: able;
  font-size: 15px;
}

#more button:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

#dana {
  background-color: #fbf9f7;
}

.danas-art {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.danas-art img {
  object-fit: contain;
  width: 100%;
  height: 70%;
}

.danas-art button {
  border: none;
  background: none;
  font-family: able;
  font-size: 15px;
  margin-top: 25px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: hd;
}

#wrapper header {
  background-color: #fbf9f7;
  border-bottom: black solid;
}

#wrapper-dana header {
  border-bottom: black solid;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlay.visible {
  display: block;
}

.overlay img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

header p {
  font-family: able;
  margin-right: 30px;
  font-size: 18px;
  color: black;
}

main {
  grid-area: mn;
  display: flex;
  justify-content: center;
}

#wrapper main {
  justify-content: space-around;
  align-items: center;
}

#wrapper main img {
  height: 5vh;
  object-fit: contain;
}

#wrapper main h1 {
  font-size: 2.5rem;
  font-family: able;
  letter-spacing: 5px;
}

#wrapper main a {
  font-size: 1.5rem;
  color: black;
  order: 2;
}

#wrapper main a:hover {
  text-decoration: underline;
}

#myVideo {
  width: 80vh;
  height: 50vh;
  border: #fbf9f7 solid 8px;
  object-fit: fill;
}

#login-main {
  background-color: rgb(39, 39, 39);
}

#logo-link {
  order: 1;
}

.img-left {
  object-fit: contain;
  width: 80%;
  transition: 0.5s;
  margin-bottom: 15px;
}

a {
  text-align: center;
  text-decoration: none;
}

.img-left:hover {
  width: 90%;
}

.paintings {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  flex-direction: column;
  width: 80%; /* Add a fixed width */
  margin: 0 auto; /* Center the container horizontally */
  padding-bottom: 15px;
}

.paintings h2 {
  font-family: Morden;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.paintings h3 {
  margin-top: 0;
}

.paintings h4 {
  font-size: 40px;
  margin: 0;
  margin-bottom: 20px;
}

.paintings a {
  color: black;
}

.paintings a:hover {
  text-decoration: underline;
}

#galaries p {
  font-size: 20px;
  letter-spacing: 2px;
  margin-right: 20px;
  font-family: able;
}

#main-galaries {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; /* Change flex to 1 to occupy available space */
}

footer {
  grid-area: ft;
  display: flex;
  justify-content: space-around;
  background-color: #fbf9f7;
  align-items: center;
  border-top: black solid;
}

footer div img {
  height: 45px;
  width: 100%;
  object-fit: contain;
  margin-top: 10px;
}

footer div a {
  color: black;
  font-family: Morden;
  font-size: 25px;
}

#index {
  background-image: url("../img/elizabeth-lies-T9Gsevu_N8Y-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#dana_img {
  width: 100%;
  align-self: flex-start;
  object-fit: contain;
  position: absolute;
  border-bottom: black solid 5px;
}

#dana h1 {
  z-index: 1;
  color: white;
  font-size: 3rem;
  margin-top: 19vh;
  height: min-content;
}

#galaries {
  background-color: #fbf9f7;
}

#login {
  background-color: black;
}

.login-forum {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  color: #fff;
  border-radius: 12px;
  padding: 30px 40px;
  margin: 40px;
}
.login-forum h1 {
  font-size: 36px;
  text-align: center;
}
.login-forum .input-box {
  position: relative;
  width: 100%;
  height: 50px;

  margin: 30px 0;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 0px 0px 0px 20px;
}
.input-box input::placeholder {
  color: #fff;
}
.input-box i {
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;
}
.login-forum .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: #fff;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
.login-forum .btn {
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.login-forum .register-link {
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover {
  text-decoration: underline;
}

ul a {
  color: black;
  font-size: 30px;
  text-decoration: none;
}

#login-link {
  order: 2;
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style-type: none;
}

#logo {
  order: 1;
  width: 80%; /* Adjust the width as needed */
  max-width: 200px; /* Set a maximum width if necessary */
  height: auto; /* Allow the height to adjust proportionally */
}

.menu {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 20vw;
  background: #ffffff;
  position: fixed;
  top: 0;
  left: -200vw;
  transition: left 0.3s;
  box-shadow: 10px 0px 21px -10px rgba(0, 0, 0, 0.75);
  z-index: 10;
  animation: none;
  overflow-x: hidden;
}

.fade-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
}

.show {
  left: 0;
}

.fade-layer.visible {
  display: block;
}

.menu-button {
  cursor: pointer;
  display: inline;
  color: #ffffff;
}

.menu-button i.material-icons {
  font-size: 2.5rem;
  color: black;
}

#close-menu {
  width: 15%;
  height: 15%;
  object-fit: scale-down;
  order: 1;
  height: 50px;
  background-color: white;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  font-size: 35px;
  color: black;
}

#small-logo {
  width: 20%;
  height: 20%;
  object-fit: contain;
  align-self: end;
  position: absolute;
  right: 40vw;
}

.menu li {
  padding: 10px;
}

.menu .dropdown-btn {
  text-decoration: none;
  font-size: 30px;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
  font-family: "Times New Roman", Times, serif;
  padding: 0;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
  transition: display 0.3s ease; /* Add transition effect */
}

.show-dropdown {
  display: block;
}

.fa-caret-down {
  float: right;
  padding-right: 8px;
  transition: ease 2s;
}

@media screen and (max-width: 600px) {
  header h1 {
    font-size: 20px;
  }

  .menu {
    width: 100%;
  }

  .login-forum {
    margin: 10px;
  }

  #myVideo {
    width: 80%;
    height: 30vh;
    object-fit: fill;
  }

  #description {
    display: none;
  }

  .column {
    justify-content: unset;
  }

  #wrapper main {
    justify-content: space-evenly;
    flex-direction: column;
  }

  #myVideo {
    order: 1;
  }
}

@media screen and (max-width: 830px) and (min-width: 600px) {
  .menu {
    width: 40%;
  }

  #myVideo {
    width: 80%;
  }
}

@media screen and (min-width: 500px) {
  #dana_img {
    width: 75%;
  }
}

@media screen and (min-width: 600px) {
  .menu #close-menu {
    display: none;
  }

  #small-logo {
    display: none;
  }

  .paintings {
    align-items: flex-start;
  }

  .paintings a {
    text-align: start;
  }

  #wrapper-galaries {
    height: 240vh;
  }

  .read-more {
    display: none;
  }

  .img-left {
    width: 50%;
  }

  .img-left:hover {
    width: 60%;
  }

  #readMore {
    display: none;
  }

  #wrapper main h1 {
    order: 2;
  }

  #dana_img {
    display: none;
  }

  #dana h1 {
    color: black;
    margin-top: 32.16px;
  }

  #wrapper-dana main {
    justify-content: space-around;
    align-items: center;
  }

  article p {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
